.header__lang-link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin: 46px 18px 0 0;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    transition-duration: .5s;
    text-decoration: none;
}

.header__lang-link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .header__lang-link {
        margin-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        margin-top: 30px;
    }
}