.place__image{
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 460px;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 360px) {
    .place__image {
        width: 100%;
        margin: 32px 0;
    }
}
