@import url(__item/photo-grid__item.css);

.photo-grid{
    display: grid;
    margin: 92px 48px 0 48px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto); 
    gap: 16px;
}

