.place__website__link{
    font-size: 18px;
    line-height: 22px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF;
}

.place__website__link:hover{
    opacity: 0.8;
}