@import url(__menu/footer__menu.css);
@import url(__menu/__item/footer__menu__item.css);

.footer{
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}