.place__paragraph {
    margin: 0 auto 26px;
    font-size: 18px;
    line-height: 163%;
    font-weight: 400;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
}

.place__paragraph:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
    }
}