@import url(__logo/header__logo.css);
@import url(__lang-link/header__lang-link.css);

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}