.cover {
    max-width: 1184px;
    margin: 90px auto 0;
}

@media screen and (max-width: 1280px) {
    .cover {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
    }
}