.place__link{
    font-size: 18px;
    line-height: 22px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover{
    transition-duration: .5s;
    opacity: 0.8;
}